body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message-body {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.message-others {
  display: flex;
  margin-top: 5px;
}

.message-self {
  display: flex;
  margin-top: 5px;
  flex-direction: row-reverse;
  text-align: right;
}

.message-enter-exit {
  text-align: center;
  font-size: 13px;
  padding-bottom: 2px;
  color: gray;
}

.message-content {
  display: inline-block;
}

.message-content > .message-username {
  display: block;
  color: gray;
  font-size: 13px;
  padding-bottom: 2px;
}

.message-content > .message-text {
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 170px;
  margin: 0;
  border-radius: 10px;
  background-color: #397be2;
  color: white;
  display: inline-block;
}

.message-others > .message-content .message-text {
  background-color: #f0f0f0;
  color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
